.loginPage {
    border:4px solid white;
    border-radius: 250px;

    background-color: gray;

}
.VLayout{
    background-color: red;
    min-width: 500px;
    max-height: 300px;
}
.loginElements{
    background-color: rgb(40, 40, 40);
    border-color: whitesmoke;
    min-width: 300px;
    min-height: 40px;
    margin: 350px 150px 350px 200px;
}
.loginElements, select, textarea{
    color: #ffffff;
}