.loginPage {
    background-color: gray;
    margin: 180px 320px 170px 320px;
    border-radius: 50px;

}
.loginElements{
    background-color: rgb(40, 40, 40);
    border-color: whitesmoke;
    min-height: 40;
    max-width: 250;
    margin-right: 150px;
    margin-left: 150px;
}
.loginElements, select, textarea{
    color: #ffffff;
}